/* BODY */

body {
    background: linear-gradient(60deg, #f1ecce, #9fc2cc);
    color: #22181C;
    font-family: Tahoma, sans-serif;
}



/* HEADER */

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

h1 {
    font-size: 60px;
}

h2 {
    border-bottom: 2px solid #22181C;
}

nav {
    padding-left: 150px;
    font-size: 18px;
}

a {
    margin: 8px;
    color: #313e42;
}



/* MAIN */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

video {
    width: 250px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 3px 4px 20px #313e42;
}

img {
    width: 300px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 3px 4px 20px #313e42;
}

ul {
    margin: 90px;
    font-size: 20px;
}

li {
    margin: 7px;
}

#meerkat-cat {
    margin-top: 20px;
}

#meerkat-div {
    text-align: center;
}

#main-text {
    width: 400px;
    text-align: center;
    margin: 0 20px;
    padding: 20px;
    border: 3px dotted #313e42;
    border-radius: 20px;
}


/* FOOTER */

footer {
    display: flex;
    padding: 20px 0 0 5px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 14px;
}

#super-cat {
    width: 220px;
    border-radius: 80px 20px;
}